//
//  Input File Upload
//
.fileBox {
	position: relative;
	margin-bottom: 20px;
	background:red;
}
.fileBox input[type="file"] {
	display: none;
}
.fileBox p.maxSize {
	position: absolute;
	top: 4px;
	right: 0;
	font-family: 'Myriad Pro Regular', sans-serif;
	line-height: 12px;
	font-weight: normal;
	font-size: 12px;
	color: #5b5b5b;
}
.fileBox p.msgErro {
	left: 0;
	font-family: 'Myriad Pro Regular', sans-serif;
	line-height: 11px;
	font-weight: normal;
	font-size: 11px;
	color: red;
}
.fileBox .file {
	background: #ebebeb;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	border: none;
	-webkit-box-shadow: 0px 0px 0px 0 #7f7f7f;
	-moz-box-shadow: 0px 0px 0px 0 #7f7f7f;
	box-shadow: 0px 0px 0px 0 #7f7f7f;
	font-family: 'Myriad Pro Regular', sans-serif;
	line-height: 14px;
	font-weight: normal;
	font-size: 14px;
	color: #5b5b5b;
	display: block;
	width: 100%;
	position: relative;
}
.fileBox .file p {
	padding: 10px 135px 10px 10px;
	font-size:11px
}
.fileBox .file a.fileEvent:link,
.fileBox .file a.fileEvent:visited {
	background: #f27024;
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	padding: 10px;
	font-family: 'Myriad Pro Bold', sans-serif;
	line-height: 14px;
	font-weight: normal;
	font-size: 14px;
	color: #ffffff;
	text-decoration: none;
}
.fileBox .file a.removeFile {
	display: none;
	background: #f27024;
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	font-family: 'Myriad Pro Bold', sans-serif;
	line-height: 14px;
	font-weight: normal;
	font-size: 14px;
	color: #ffffff;
	text-decoration: none;
}
.fileBox .file a.removeFile.active {
	display: block;
}
.orderText {
	background: #ebebeb;
	font-family: 'Myriad Pro Regular', sans-serif;
	line-height: 14px;
	font-weight: normal;
	font-size: 14px;
	color: #5b5b5b;
	display: none;
	width: 100%;
	border: none;
	padding: 9px;
	margin: 22px 0 0 0;
	text-align: center;
}
@media only screen and (max-width: 450px), only screen and (max-device-width: 450px) {
	.fileBox {
		height: 100px;
	}
	.fileBox .file p {
		padding: 10px 10px 44px 10px;
	}
	.fileBox .file a.fileEvent:link,
	.fileBox .file a.fileEvent:visited {
		width: 100%;
		bottom: 0;
		top: auto;
		text-align: center;
	}
	.fileBox .file a.removeFile {
		width: 100%;
		bottom: 0;
		top: auto;
		text-align: center;
	}
}